:root {
    --color-ocean: #31C3BD;
    --color-ocean_light: #65E9E4;
    --color-orange: #F2B137;
    --color-yellow: #FFC860;
    --color-gray: #A8BFC9;
    --color-gray_light: #DBE8ED;
    --color-bg: #1A2A33;
    --color-bg2: #1F3641;

    --font-family: "Outfit", sans-serif;
    --font-weight_bold: 700;
    --font-weight_medium: 500;
}

* {
    font-family: var(--font-family);
    font-weight: var(--font-weight_medium);
    font-size: 14px;
    font-kerning: 0.8px;
}

h1, h2, h3, h4 {
    font-weight: var(--font-weight_bold);
}

h1 {
    font-size: 40px;
    font-kerning: 2.5px;
}

h2 {
    font-size: 24px;
    font-kerning: 1.5px;
}

h3 {
    font-size: 20px;
    font-kerning: 1.25px;
}

h4 {
    font-size: 16px;
    font-kerning: 1px;
}